{% extends 'layout.html' %} {% block title %}AHM Profile - {{ super() }}{%
endblock %} {% block content %}

<style>
  .active-page-button {
    background-color: #696cff;
    color: white;
    border-color: #696cff;
    box-shadow: 0 0.125rem 0.25rem rgba(105, 108, 255, 0.4);
    width: 40px;
    border-radius: 5px;
  }
  .pagination-button {
    width: 40px;
    border: none;
    border-radius: 5px;
  }
  .btn-purple {
      background-color: #6c5ffc;
      color: white; /* Text color */
      /* Add any other styles you want for the btn-purple class */
  }

</style>
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <h5 class="m-0">BLOG LIST</h5>
          </div>
          <div class="card-body">
            <div class="table-responsive text-nowrap">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th style="color: #000; font-family: sans-serif">#</th>
                    <th style="color: #000; font-family: sans-serif">
                      Blog Headline
                    </th>
                    <th style="color: #000; font-family: sans-serif">Topic</th>
                    <th style="color: #000; font-family: sans-serif">
                      Writer's Name
                    </th>
                    <th style="color: #000; font-family: sans-serif">
                      Blog Details
                    </th>
                    <th style="color: #000; font-family: sans-serif">
                      Created At
                    </th>
                    <th style="color: #000; font-family: sans-serif">Action</th>
                  </tr>
                </thead>
                <tbody id="dataContainer">
                  <!-- Blog data will be dynamically added here -->
                </tbody>
              </table>
            </div>
            <div
              id="pagination"
              class="d-flex justify-content-center mt-3"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="readBlog" aria-labelledby="modalToggleLabel" tabindex="-1" style="display: none" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content show_modal_content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalToggleLabel">Blog</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form id="" method="POST" action="/blogs">
            <div style="display: flex" class="mb-3">
              <label class="form-label" for="blog_id_input_update"
                >Blog No:</label
              >
              <p style="margin-left: 25px" id="blog_id_input_update"></p>
            </div>
            <div style="display: flex" class="mb-3">
              <label class="form-label" for="image_modal"></label>
              <img
                id="image_modal"
                src=""
                alt="Blog Image"
                style="margin-left: 25px; max-width: 85%"
              />
            </div>
            <div style="display: flex" class="mb-3">
              <label class="form-label" for="writers_name_input_update"
                >Writer:</label
              >
              <p style="margin-left: 25px" id="writers_name_modal"></p>
            </div>
            <div style="display: flex" class="mb-3">
              <label class="form-label" for="topic_input_update">Topic:</label>
              <p style="margin-left: 25px" id="topic_modal"></p>
            </div>
            <div style="display: flex" class="mb-3">
              <label class="form-label" for="blog_headline_input_update"
                >Blog Headline:</label
              >
              <p style="margin-left: 25px" id="blog_headline_modal"></p>
            </div>
            <div style="display: flex" class="mb-3">
              <label class="form-label" for="blog_details_input_update"
                >Blog Details:</label
              >
              <p style="margin-left: 25px" id="blog_details_modal"></p>
            </div>
            
          </form>
        </div>
      </div>
    </div>
</div>

  <script src="serial_number.js"></script>

  <script>
                function fetchData(page) {
                  fetch(`/blogs_admin_panel_pagination?page=${page}`)
                    .then((response) => {
                      if (!response.ok) {
                        throw new Error("Network response was not ok");
                      }
                      return response.json();
                    })
                    .then((data) => {
                      // Update data container with fetched blogs
                      const dataContainer = document.getElementById("dataContainer");
                      dataContainer.innerHTML = ""; // Clear previous data
                      data.blogs.forEach((blog) => {
                        const blogElement = document.createElement("tr");
                        // Populate blog data into the element
                        blogElement.innerHTML = `
                        <td>
                        <button class="btn btn-sm btn-outline-info" onclick="openModal(${blog.blog_id})" data-bs-toggle="modal" data-bs-target="#readBlog">Read The Blog</button>
                        ${blog.status == 1 ? `<button class="btn btn-sm btn btn-purple">Selected</button>` : ''}
                        <button id="approveBTN_${blog.blog_id}" class="btn btn-sm btn-outline-primary" onclick="updateBlogStatus(${blog.blog_id}, true)">Approve</button>
                        <button id="disapproveBTN_${blog.blog_id}" class="btn btn-sm btn-outline-danger" onclick="updateBlogStatus(${blog.blog_id}, false)">Disapprove</button>
                        <button onclick="deleteBlog(${blog.blog_id})" class="btn btn-sm btn-outline-warning">DELETE</button>
                    </td>
                    <td>${blog.blog_headline}</td>
                    <td>${blog.topic}</td>
                    <td>${blog.writers_name}</td>
                    <td>${blog.blog_details.slice(0, 50)}${blog.blog_details.length > 50 ? "..." : ""}</td>
                    <td>${blog.created_at}</td>
                                           
                                        `;
                        dataContainer.appendChild(blogElement);
                      });

                      // Add serial numbers
                      addSerialNumbers();

                      // Update pagination buttons
                      displayPagination(data.page, data.total_pages);
                    })
                    .catch((error) => {
                      console.error("Error:", error);
                    });
                }

                function addSerialNumbers() {
                  const tableRows = document.querySelectorAll("#dataContainer tr");
                  tableRows.forEach((row, index) => {
                    const serialNumberCell = document.createElement("td");
                    serialNumberCell.textContent = index + 1;
                    row.insertBefore(serialNumberCell, row.firstChild);
                  });
                }

                function displayPagination(currentPage, totalPages) {
                  const paginationContainer = document.getElementById("pagination");
                  paginationContainer.innerHTML = ""; // Clear previous pagination buttons

                  for (let i = 1; i <= totalPages; i++) {
                    const pageButton = document.createElement("button");
                    pageButton.textContent = i;
                    pageButton.classList .add("pagination-button"); // Add default class
                    pageButton.addEventListener("click", () => {
                      fetchData(i);
                    });

                    if (i === currentPage) {
                      pageButton.classList.add("active-page-button"); // Add active class
                    }

                    paginationContainer.appendChild(pageButton);
                  }

                }

                // Initial data fetch on page load
                fetchData(1);












            //delete function
                function deleteBlog(blogId) {

                fetch('/blog_delete/'+ blogId, {
                        method: 'POST',
                    })
                    .then(response => {
                        if (response.ok) {
                            return response.json(); // Parse the JSON response
                        } else {
                            throw new Error('Network response was not ok.');
                        }
                    })
                    .then(data => {
                        // Check if the response contains 'success' key
                        if (data && data.success) {
                            // Show registration successful alert
                            alert(data.success);
                            // Reload the page after a short delay (adjust the delay as needed)
                            setTimeout(() => {
                                window.location.reload();
                            }, 2000); // Refresh after 2 seconds (adjust as needed)
                        } else {
                            throw new Error('Invalid response from the server.');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('Updating failed! Please try again.');
                    });
              }

              //open modal

              function openModal(blogID) {

               console.log(blogID);
               var blogs= {{ blogs | tojson }};

               var blog= blogs.find(function (item) {
                   return item.blog_id== blogID;
               });

               console.log(blog);

               // Call the function to fill the form with JSON data
               fillFormWithData(blog);
             }


        //show the data
        function fillFormWithData(data) {
        // Update text content of <p> elements
        document.getElementById("blog_id_input_update").textContent = data.blog_id;
        document.getElementById("writers_name_modal").textContent = data.writers_name;
        document.getElementById("blog_headline_modal").textContent = data.blog_headline;
        document.getElementById("topic_modal").textContent = data.topic;
        document.getElementById("blog_details_modal").textContent = data.blog_details;

        // Update the image source
        var image = document.getElementById('image_modal');
        image.src = '{{ url_for("static", filename="mainassets/images/blog_images/") }}' + data.image;
    }
  </script>
<script>
//   function updateBlogStatus(blogId) {
//     const status = true; // Assuming you want to approve the blog

//     const data = {
//         blog_id: blogId,
//         status: status
//     };

//     fetch("/blog_approve", {
//         method: "POST",
//         headers: {
//             "Content-Type": "application/json"
//         },
//         body: JSON.stringify(data)
//     })
//     .then(response => response.json())
//     .then(data => {
//         if (data.success) {
//             alert("Blog status updated successfully!");
//             // You can update the UI here if needed
//         } else {
//             alert("An error occurred: " + data.error);
//         }
//     })
//     .catch(error => {
//         console.error("Error:", error);
//         alert("An error occurred: " + error.message);
//     });
// }

// Function to update blog status
// function updateBlogStatus(blogId) {
//     fetch("/blog_approve", {
//         method: "POST",
//         headers: {
//             "Content-Type": "application/json"
//         },
//         body: JSON.stringify({ blog_id: blogId, status: true }) // Assuming you want to approve the blog
//     })
//     .then(response => response.json())
//     .then(data => {
//         if (data.success) {
//             // Update button class after successful approval
//             const approveBtn = document.getElementById(`approveBTN_${blogId}`);
//             approveBtn.classList.remove("btn-outline-primary");
//             approveBtn.classList.add("btn-purple");
//             alert("Blog status updated successfully!");
//             // Reload the page after 1 second
//             setTimeout(() => {
//                 window.location.reload();
//             }, 1000);
//         } else {
//             alert("An error occurred: " + data.error);
//         }
//     })
//     .catch(error => {
//         console.error("Error:", error);
//         alert("An error occurred: " + error.message);
//     });
// }


function updateBlogStatus(blogId, status) {
    fetch("/blog_approve", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ blog_id: blogId, status: status }) // Send the status (true for approve, false for disapprove)
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            // Update button class after successful approval or disapproval
            const approveBtn = document.getElementById(`approveBTN_${blogId}`);
            approveBtn.classList.remove("btn-outline-primary");
            approveBtn.classList.add("btn-purple");
            alert("Blog status updated successfully!");
            // Reload the page after 1 second
            setTimeout(() => {
                window.location.reload();
            }, 1000);
        } else {
            alert("An error occurred: " + data.error);
        }
    })
    .catch(error => {
        console.error("Error:", error);
        alert("An error occurred: " + error.message);
    });
}

</script>


  {% endblock %} {% set active_page = 'blogs_admin_panel' %}
</div>
