
<!DOCTYPE html>
    <html
    lang="en"
    class="light-style customizer-hide"
    dir="ltr"
    data-theme="theme-default"
    data-assets-path="../assets/"
    data-template="vertical-menu-template-free"
  >
    <head>
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
      />
  
      <title>Profile</title>
  
      <meta name="description" content="" />
      <!-- Favicon -->
      <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/favicon/favicon.ico') }}" />
      <!-- Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"/>
  
      <!-- Icons. Uncomment required icon fonts -->
      <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/css/pages/page-auth.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/fonts/boxicons.css') }}" />
      <!-- Core CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/css/core.css') }}" class="template-customizer-core-css" />
      <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/css/theme-default.css') }}" class="template-customizer-theme-css" />
      <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/demo.css') }}" />
      <!-- Vendors CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/libs/apex-charts/apex-charts.css') }}" />
      <!-- Page CSS -->
      <!-- Helpers -->
      <script src="{{ url_for('static', filename='assets/vendor/js/helpers.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/config.js') }}"></script>
      <!-- Page CSS -->
      <!-- Page -->
  
    </head>
    <style>
       
        .logo a:hover {
    
        border-bottom: 1px solid #fff; /* Add underline on hover */
        color: #000; /* Change text color on hover */
        }
    
        .card-form{
            width: 500px;
        }
    
        .form-group{
            margin: 16px;
        }
        
        .space{
            margin: 40px;
        }
        
        .card-body {
            padding: 10px; /* Adjust padding for smaller screens */
        }
    
        .app-brand {
            text-align: center; /* Center the content */
            margin-bottom: 10px; /* Adjust margin for smaller screens */
        }
    
        .logo {
            text-align: center; /* Center the content */
        }
    
        .logo img {
            height: 80px; /* Adjust image height for smaller screens */
            width: 100px; /* Ensure image width scales accordingly */
        }
    
        .btn-primary {
            width: 100%; /* Make the button full width */
            margin-top: 10px; /* Add some margin to separate from other elements */
        }
    
        .scroll-to-top {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 1000;
            background-color: #6c5ffc;
            color: #fff;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            text-align: center;
            line-height: 40px;
            font-size: 20px;
            display: none; /* Hide initially */
          }
    
      .scroll-to-top:hover {
          background-color: #6c5ffc;
        }
    
        .navbar-scrolled{
          background-image: linear-gradient(90deg, #6c5ffc, #ffffff);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
        }
    
        .btn-scrolled{
          background-color: #ffffff;
          color: #6c5ffc;
        }
    
        .heading-scrolled{
          color: #ffffff;
        }
    
        .card_to:hover{
          transform: scale(1.1);
          transition: transform 0.2s ease;
        }
        </style>
<body>

<nav class="navbar navbar-expand-lg navbar-light fixed-top">

    <div class="container-fluid">
      <a class="navbar-brand" href="https://freelancingpathshala.com/" title="Go back to home page"> <span class="logo">
       
            <img src="{{ url_for('static', filename='mainassets/images/logos/logo_aa.jpg') }}" alt="Logo" style="height: 100px; width: auto; margin-left: 50px;">
        
    </span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <p style="display: flex; align-self: center; "><h1 style="color: #0c0c1a; font-style: bold; font-weight: 700; font-size: 40px; text-shadow: 2.5px 1px #292e4a">Profile</h1></p>
          </li>
         
        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        <button id="logoutButton" style="width: 9rem; margin-right: 50px;" class="btn btn-primary">Log Out</button>
      </div>
    </div>
  </nav>
  
<div class="container">
    <div class="main-body">
    
      <div class="card">
        <div class="card-body">
        <div class="bg-image-landing section header_5_id" >
        <div class="container" style="padding-bottom: 40px; padding-top: 20px; margin-top: 100px;">
          <h2 style="color:#6c5ffc; font-style: bold; font-weight: 700; font-size: 40px; margin-left: 500px; margin-bottom: 40px;">Explore Your Profile!</h2>
          <!-- Breadcrumb -->
          <!-- <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav> -->
          <!-- /Breadcrumb -->

      <div class="container" style="margin: 40px">
     <div class="container"style="background-image: linear-gradient(90deg, #ffffff, #d2eaf5); margin-top: 30px">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4 id="user_name_modal"></h4>
                      <!-- <p class="text-secondary mb-1">Full Stack Developer</p> -->
                      <p>Lives In  <p class="text-muted font-size-sm" id="address_modal" ></p></p>
                     
                      <!-- <button class="btn btn-primary">Follow</button>
                      <button class="btn btn-outline-primary">Message</button> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <!-- <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                    <span class="text-secondary">https://bootdey.com</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                    <span class="text-secondary">bootdey</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                    <span class="text-secondary">@bootdey</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                    <span class="text-secondary">bootdey</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                    <span class="text-secondary">bootdey</span>
                  </li> -->
                </ul>
              </div>
              <div class="card mt-3" id="portfolio-links">
                <ul class="list-group list-group-flush">
                    <!-- Portfolio links will be dynamically added here -->
                </ul>
            </div>
            <div class="card mt-3">
              <div class="card h-100">
                <div class="card-body">
                  <h4 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">I would like to</i></h4>
                  <h4 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2"></i>Learn:</h4>
                  <h6 id="wantTo_trainings_modal"></h6>
                </div>
              </div>
            </div>
            
            <script>
                // Extracted and converted JSON data
                // var json_data = '{"fiverr":"https://fiverr.com/username","upwork":"https://upwork.com/username","freelancer":"https://freelancer.com/username","toptal":"https://toptal.com/username","guru":"https://guru.com/username","other":"https://example.com"}';
            
                function populatePortfolios(json_data) {
                 
                // Parse JSON data
                var portfolio_links = JSON.parse(json_data);
            
                // Get the container where portfolio links will be added
                var portfolioContainer = document.getElementById('portfolio-links');
            
                // Loop through the portfolio_links object and create list items
                for (var platform in portfolio_links) {
                    if (portfolio_links.hasOwnProperty(platform)) {
                        var listItem = document.createElement('li');
                        listItem.className = 'list-group-item d-flex justify-content-between align-items-center flex-wrap';
            
                        var platformIcon = document.createElement('h6');
                        platformIcon.className = 'mb-0';
                        platformIcon.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>' + platform.charAt(0).toUpperCase() + platform.slice(1);
            
                        var linkText = document.createElement('span');
                        linkText.className = 'text-secondary';
                        linkText.textContent = portfolio_links[platform];
            
                        listItem.appendChild(platformIcon);
                        listItem.appendChild(linkText);
            
                        portfolioContainer.querySelector('ul').appendChild(listItem);
                    }
                }

              }
            </script>
            
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <!-- <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0" >Full Name</h6>
                    </div>
                    <div id="user_name_modal" class="col-sm-9 text-secondary">
                      
                    </div>
                  </div> -->
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div id="email_modal" class="col-sm-9 text-secondary">
                     
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div id="phone_number_modal" class="col-sm-9 text-secondary">
                     
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Mobile</h6>
                    </div>
                    <div id="phone_number_modal" class="col-sm-9 text-secondary">
                      
                    </div>
                  </div>
                  <hr>
                  <!-- <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div id="address_modal" class="col-sm-9 text-secondary">
                     
                    </div> -->
                    

                     <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Joined On:</h6>
                    </div>
                    <div id="joined_on" class="col-sm-9 text-secondary">
                      
                    </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h3 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Ski</i>lls</h3>
                      <h6>Freelancing Skills</h6>
                      <medium id="skills_modal"></medium>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <h6>Trainings</h6>
                      <medium id="done_training_modal"></medium>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <!--<small>One Page</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Mobile Template</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Backend API</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                      </div> -->
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h3 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Hard</i>Skills</h4>
                      <h6>Language Proficiency</h6>
                      <medium id="languages_modal"></medium>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <h6>Freelancing Experience</h6>
                      <medium id="experience_modal"></medium>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <!-- <small>Website Markup</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>One Page</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Mobile Template</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Backend API</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>

        </div>
        
    </div>
  </div>
</div>
</div>
</div>
</div>
  </script>
  <!-- Core JS -->
  <!-- build:js assets/vendor/js/core.js -->
  <script src="{{ url_for('static', filename='assets/vendor/libs/jquery/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/libs/popper/popper.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
  
  <script src="{{ url_for('static', filename='assets/vendor/js/menu.js') }}"></script>
  <!-- endbuild -->
  
  <!-- Vendors JS -->
  <script src="{{ url_for('static', filename='assets/vendor/libs/apex-charts/apexcharts.js') }}"></script>
  
  <!-- Main JS -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
  
  
  <!-- Page JS -->
  
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script>
      $(document).ready(function() {
    function getTraineeData() {
      debugger;
        // Send an AJAX request to the server
        $.ajax({
            url: '/profile',
            type: 'GET',
            contentType: 'application/json',
            xhrFields: {
                withCredentials: true // Include cookies in the request
            },
            success: function(data) {
                // Render the trainee data on the webpage
                populatePortfolios(data.portfolio_link);
                fillFormWithData(data);

                
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error('Error:', errorThrown);
                // Handle errors appropriately (e.g., display an error message)
            }
        });
    }

    getTraineeData();
});

function fillFormWithData(data) {
        
        // document.getElementById("blog_id_input_update").innerText = data.blog_id;
        document.getElementById("user_name_modal").innerText = data.full_name;
        document.getElementById("email_modal").innerText = data.email;
        document.getElementById("phone_number_modal").innerText = data.phone_number;
        document.getElementById("address_modal").innerText = data.address;
        document.getElementById("skills_modal").innerText = data.skills;
        document.getElementById("languages_modal").innerText = data.language_proficiency;
        document.getElementById("experience_modal").innerText = data.freelancing_experience;
        document.getElementById("done_training_modal").innerText = data.done_trainings;
        document.getElementById("wantTo_trainings_modal").innerText = data.wantTo_trainings;
        // document.getElementById("joined_modal").innerText = data.joined_on;
        // var forDate= formatDate(data.joined_on);

        //  document.getElementById("joined_on").innerText=forDate;

        var created_at_date = new Date(data.joined_on);
        var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        var formatted_date = created_at_date.toLocaleDateString('en-UK', options);
        document.getElementById("joined_on").innerText = formatted_date;
          

        // var image = document.getElementById('image_modal');
        // image.src = '{{ url_for("static", filename="mainassets/images/blog_images/") }}' +data.image;

        

    }

    // // Function to format the date
    // function formatDate(dateString) {
    //     // Create a Date object from the date string
    //     let date = new Date(dateString);

    //     // Extract day, month, and year
    //     let day = date.getDate();
    //     let month = date.getMonth() + 1; // January is 0, so we add 1
    //     let year = date.getFullYear();

    //     // Add leading zeros if necessary
    //     if (day < 10) {
    //         day = '0' + day;
    //     }
    //     if (month < 10) {
    //         month = '0' + month;
    //     }

    //     // Format the date as dd-mm-yyyy
    //     return `${day}-${month}-${year}`;
    // }

    </script>

    

    <script>
        const navEl = document.querySelector('.navbar');

window.addEventListener('scroll', () => {
  if (window.scrollY >= 56) {
    navEl.classList.add('navbar-scrolled');
  } else {
    navEl.classList.remove('navbar-scrolled');
  }
});


const btnEl = document.querySelector('.btn.btn-primary');

window.addEventListener('scroll', () => {
  if (window.scrollY >= 56) {
    btnEl.classList.add('btn-scrolled');
  } else {
    btnEl.classList.remove('btn-scrolled');
  }
});


const headingEl = document.querySelector('.nav-item p h1');

window.addEventListener('scroll', () => {
  if (window.scrollY >= 56) {
    headingEl.classList.add('heading-scrolled');
  } else {
    headingEl.classList.remove('heading-scrolled');
  }
});

    </script>

<script>
  document.getElementById('logoutButton').addEventListener('click', function() {
      fetch('{{ url_for('trainee_logout') }}', {
          method: 'GET',
          credentials: 'same-origin'
      })
      .then(response => {
          if (response.ok) {
              window.location.href = response.url; // Redirect to the URL returned by the server
          } else {
              console.error('Logout failed:', response.statusText);
              // Handle logout failure
          }
      })
      .catch(error => {
          console.error('Error:', error);
          // Handle error
      });
  });
  </script>
</body>
</html>