{% extends 'layout.html' %} {% block title %}Trainee List - {{ super() }}{%
endblock %} {% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-header d-flex justify-content-between">
                  <h5 class="m-0">TRAINEE LIST</h5>
                 
              </div>
              <div class="card-body">
                  <div class="table-responsive text-nowrap">
                      <table class="table table-bordered">
                        <thead style="background-color: var(--transparent-primary)">
                          <tr>
                            <th>ID</th>
                            <th>Full Name</th>
                            <th>Organization Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Address</th>
                            <th>Educational Level</th>
                            <!-- <th>Institution</th>
                            <th>Educational Certificates</th>
                            <th>Availability</th>
                            <th>Course Joining Date</th> -->
                            <th>Skills</th>
                            <th>Freelancing Experience</th>
                            <th>Portfolio Link</th>
                            <!-- <th>Preferred Work Type</th>
                            <th>Hourly Rate</th> -->
                            <th>Language Proficiency</th>
                            <!-- <th scope="col">Certifications</th> -->
                            <!-- <th scope="col">LinkedIn Profile</th>
                            <th scope="col">GitHub Profile</th> -->
                            <th>Admin Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for trainee in trainees %}
                          <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ trainee.full_name }}</td>
                            <td>{{ trainee.organization}}</td>
                            <td>{{ trainee.email }}</td>
                            <td>{{ trainee.phone_number }}</td>
                            <td>{{ trainee.address }}</td>
                            <td>{{ trainee.skills }}</td>
                            <td>{{ trainee.educational_level }}</td>
                            <td>{{ trainee.freelancing_experience }}</td>
                            <td>{{ trainee.portfolio_link}}</td>
                            <td>{{ trainee.language_proficiency}}</td>
                            <td> 
                              <button href="javascript:void(0)" class="btn btn-sm btn-outline-info" data-bs-toggle="modal" data-bs-target="#uploadImage">EDIT</button>
                              <button href="javascript:void(0)" class="btn btn-sm btn-outline-warning" data-bs-toggle="modal" data-bs-target="#uploadImage">DELETE</button></td>
                          </tbody>
                          </tr>
                          {% endfor %}
                          
                          <tbody class="education_table">
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>

  <script>
    function showEducation() {
      var formData = new FormData();
      fetch("/all_data", {
        method: "POST",
        body: formData,
      })
        .then((response) => {
          if (response.ok) {
            return response.json();
          }
          throw new Error("Network response was not ok.");
        })
        .then((data) => {
          console.log(data);
          if (data.user_profile) {
            document.querySelector(".header_image").src =
              "../static/mainassets/images/logos/" + data.user_profile.logo;
          }
          const edu_table = document.querySelector(".social_table");
          data.hide_show_data.forEach((socialItems) => {
            // Create elements
            const tr = document.createElement("tr");

            const td1 = document.createElement("td");

            const strong = document.createElement("strong");
            strong.textContent = socialItems.name;

            const td2 = document.createElement("td");
            if (socialItems.status === 1) {
              td2.textContent = "Show";
            } else {
              td2.textContent = "Hide";
            }

            const td3 = document.createElement("td");

            const span = document.createElement("span");
            span.className = "badge bg-label-primary me-1";
            span.textContent = socialItems.update_at;

            const td4 = document.createElement("td");

            const div = document.createElement("div");
            div.className = "d-flex justify-content-center w-100";

            const a2 = document.createElement("a");
            a2.href = "javascript:void(0);";
            a2.className = "";
            a2.setAttribute("data-bs-toggle", "modal");
            a2.setAttribute("data-bs-target", "#editSocialModal");
            a2.addEventListener("click", function () {
              updateData(socialItems);
            });

            const i2 = document.createElement("i");
            i2.className = "bx bx-edit-alt me-1";

            td1.appendChild(strong);
            td3.appendChild(span);
            a2.appendChild(i2);
            div.appendChild(a2);
            td4.appendChild(div);

            // Append elements to the row
            tr.appendChild(td1);
            tr.appendChild(td2);
            tr.appendChild(td3);
            tr.appendChild(td4);

            edu_table.appendChild(tr);
          });
        });
    }
    showEducation();

    function updateData(socialItems) {
      const checkboxUpdate = document.getElementById("flexSwitchCheckChecked");
      checkboxUpdate.checked = socialItems.status === 1;

      document.querySelector(".social_name_input_update").value =
        socialItems.name;
      const service_grid_update = document.getElementById("update_show_hide");
      service_grid_update.addEventListener("submit", function (event) {
        event.preventDefault();

        const serviceFormData = new FormData(service_grid_update);
        const checkbox = document.getElementById("flexSwitchCheckChecked");
        const checkboxValue = checkbox.checked ? 1 : 0;
        console.log(checkboxValue);

        const jsonData = {
          id: socialItems.id,
          name: document.querySelector(".social_name_input_update").value,
          status: checkboxValue,
        };
        serviceFormData.append("json_data", JSON.stringify(jsonData));

        fetch("/show_hide_update", {
          method: "POST",
          body: serviceFormData,
        })
          .then((response) => {
            if (response.ok) {
              return response.json();
            }
            throw new Error("Network response was not ok.");
          })
          .then((data) => {
            if (data.success) {
              location.reload();
            }
          })
          .catch((error) => {
            console.error(
              "There was a problem with the fetch operation:",
              error
            );
          });
      });
    }
  </script>
  {% endblock %} {% set active_page = 'trainee_list' %}
</div>
