<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Freelancing Pathshala!</title>
  </head>
  <body>
    <table style="background: linear-gradient(90deg,#ffffff, #6c5ffc);">
      <tr>
        <td style="font-size: 30px; color: #233ac5; margin-left: 30px;">Dear {{ full_name }},</td>
      </tr>
      <tr>
        <td style="font-size: 20px;color: #233ac5; margin-left: 30px;">
          Thank you for registering with us. Your profile has been successfully
          created.</td>
      </tr>
      <tr>
        <td style="text-align: center;">
          <img style="height: 600px; width: auto" src="https://freelancingpathshala.com/static/mainassets/images/welcome_message/FreelancingPathshalaWelcome.jpg" alt="Invoice Logo" />
        </td>
      </tr>
    </table>
  </body>
</html>
